In [7]:
import os
print(os.listdir())
os.chdir('CS687/HW1_TimeSeries')

['.git', 'cs674_hw1(1).pdf', 'dtw.py', 'hw1_datasets', 'hw1_main.py', 'process_data.py', 'testing_code.ipynb', 'timeseries_kNN.py', '__pycache__']

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'CS687/HW1_TimeSeries'

In [8]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from timeseries_kNN import timeseries_kNN
import os
from heapq import nsmallest
from random import shuffle
from datetime import datetime as dt
from multiprocessing.pool import ThreadPool
from multiprocessing import Pool, cpu_count
from threading import Thread
from sklearn.neighbors import NearestNeighbors, KNeighborsRegressor
from dask import delayed

In [14]:
dataset1_test = 'hw1_datasets/dataset1/test_normalized.csv'
test1_labels = 'hw1_datasets/dataset1/test_labels.csv'
dataset1_train = 'hw1_datasets/dataset1/train_normalized.csv'
train1_labels = 'hw1_datasets/dataset1/train_labels.csv'
train1 = pd.read_csv(dataset1_train)
test1 = pd.read_csv(dataset1_test, index_col=0)
train1.head()
test1.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>...</th>
      <th>119</th>
      <th>120</th>
      <th>121</th>
      <th>122</th>
      <th>123</th>
      <th>124</th>
      <th>125</th>
      <th>126</th>
      <th>127</th>
      <th>128</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-1.186546</td>
      <td>1.112753</td>
      <td>1.499844</td>
      <td>1.081663</td>
      <td>1.425415</td>
      <td>2.153796</td>
      <td>1.518677</td>
      <td>0.817144</td>
      <td>1.196449</td>
      <td>1.907417</td>
      <td>...</td>
      <td>0.920101</td>
      <td>-0.007463</td>
      <td>-0.218600</td>
      <td>-0.494948</td>
      <td>-0.103557</td>
      <td>0.664229</td>
      <td>0.945652</td>
      <td>1.731896</td>
      <td>1.228174</td>
      <td>0.475412</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.407897</td>
      <td>-0.583292</td>
      <td>-0.739038</td>
      <td>-1.673533</td>
      <td>-0.065568</td>
      <td>-0.018168</td>
      <td>0.915209</td>
      <td>-0.453858</td>
      <td>-0.679295</td>
      <td>-0.213708</td>
      <td>...</td>
      <td>-0.793742</td>
      <td>-0.439977</td>
      <td>-1.293828</td>
      <td>1.242226</td>
      <td>-0.620446</td>
      <td>-0.492400</td>
      <td>0.529914</td>
      <td>-0.189582</td>
      <td>0.256176</td>
      <td>1.552341</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.980611</td>
      <td>-0.351831</td>
      <td>-0.501440</td>
      <td>-0.249934</td>
      <td>-0.965480</td>
      <td>-0.124003</td>
      <td>-0.361499</td>
      <td>-0.213201</td>
      <td>-0.715557</td>
      <td>-0.190532</td>
      <td>...</td>
      <td>-1.147009</td>
      <td>-0.598236</td>
      <td>-1.007310</td>
      <td>-0.580817</td>
      <td>-0.410211</td>
      <td>-0.869793</td>
      <td>-0.745043</td>
      <td>-0.487621</td>
      <td>-0.930685</td>
      <td>-1.047306</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-0.085029</td>
      <td>0.091052</td>
      <td>-1.140404</td>
      <td>0.260809</td>
      <td>0.360512</td>
      <td>0.342949</td>
      <td>-0.849694</td>
      <td>-1.344433</td>
      <td>-1.729363</td>
      <td>-0.365701</td>
      <td>...</td>
      <td>-0.732892</td>
      <td>0.455786</td>
      <td>-0.905818</td>
      <td>-0.034224</td>
      <td>0.170775</td>
      <td>0.470925</td>
      <td>-0.173845</td>
      <td>-0.166626</td>
      <td>0.170123</td>
      <td>0.135435</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-1.053011</td>
      <td>0.433085</td>
      <td>-0.453950</td>
      <td>0.146030</td>
      <td>0.326497</td>
      <td>-0.988377</td>
      <td>-0.666821</td>
      <td>-0.566277</td>
      <td>-1.891093</td>
      <td>-0.348393</td>
      <td>...</td>
      <td>3.153259</td>
      <td>3.073105</td>
      <td>3.398803</td>
      <td>3.306304</td>
      <td>4.264531</td>
      <td>0.038569</td>
      <td>-0.217056</td>
      <td>-1.153955</td>
      <td>-1.066324</td>
      <td>-1.698859</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 128 columns</p>
</div>

In [11]:
from heapq import nsmallest, nlargest
from sklearn.neighbors import NearestNeighbors
import numpy as np
import pandas as pd
from sys import stdout
from random import shuffle
from datetime import datetime as dt
from threading import Thread
from multiprocessing.pool import ThreadPool
from multiprocessing import Process, cpu_count, Pool, Queue
import json
import math
from itertools import chain
import concurrent

In [ ]:
def kNN(self, a_chunk):
    '''
    Runs kNN on chunk of test set

    :param a_chunk:
    :return:
    '''
    predictions = []
    userid_list = []
    movieid_list = []
    userv_list = []
    prediction_id_list = []
    df = test1.iloc[a_chunk] # partition of test_df
    i = 0
    #name is None because of pickling issue with parallel
    for test_i in df.itertuples(name=None):
        if self.verbose:
            print('t0-t10 : {}'.format(test_i[:10]))
            print('ti: {}'.format(test_i))
        print(test_i[0])

        try:
            # time_series = self.data[users_that_reviewed_movie]
            euc_distances = self.data.apply(lambda test_i: self.dist(self.data, test_i[1:]), axis=1) # to each column
            print('euclidean : {}'.format(euc_distances))
            # using euclidean distance, returns list of tuples
            neighbors = nlargest(self.k, euc_distances.iteritems(), key=lambda x: x[1:])
            print('---after neighbors----')
            # if list of tuples is not empty
            neighbors = [(i,dist) for i,dist in neighbors]
            print('the neighbors are: '.format(neighbors))
            k_users, distances = zip(*neighbors)
            # k_users, distances = [i,dist for i,dist in neighbors]
            yhat = self.predict_yhat(test_i, k_users, distances)

            if test_i[0] % 2 == 0:
                if self.verbose: print('time is:{};\tindex: {};\tnumber of records: {};\t{} percent complete; '
                                       '\t rhat: {};\tthe review is:{}'.format(
                    self.get_time(), i, len(df), round(i/len(df), 2), yhat, test_i))
            predictions.append(yhat)
            prediction_id_list.append(test_i)
            # userv_list.append(user_v)
            # userid_list.append(user_id)
            # movieid_list.append(movie_id)

            # self.test_df.set_value(index=user_id, col='prediction',value=yhat)
            # if self.verbose:
            #     print(self.test_df.loc[user_id,'prediction'])

        except (KeyError, ValueError, TypeError) as err:
            print(err)
            print('Exception - Rating is dataframe mean')

    return zip(prediction_id_list, predictions)

In [15]:
somelist = [1,4,4,4,5,2,3,2,2,3,4,4,4,7]
theset = set(somelist)
theset

{1, 2, 3, 4, 5, 7}

In [17]:
l = list(theset)
l

[1, 2, 3, 4, 5, 7]

In [23]:
fn = 'hw1_datasets/dataset2/train_labels.csv'
labels2 = pd.read_csv(fn, index_col=0, header=None)
labels2.shape

(175, 1)

In [25]:
def work_chunks(df, n_chunks):
    num_rows = len(df)
    steps = math.ceil(num_rows/n_chunks) #rounding errors causes out of bounds
    return [slice(n, n+steps) for n in range(0, num_rows, steps)]  #should cover uneven steps

In [27]:
slices = work_chunks(labels2, 4)
slices

[slice(0, 44, None),
 slice(44, 88, None),
 slice(88, 132, None),
 slice(132, 176, None)]

In [33]:
l1 = labels2[slices[0]]

In [32]:
labels2.tail()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
    </tr>
    <tr>
      <th>0</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>170</th>
      <td>7.0</td>
    </tr>
    <tr>
      <th>171</th>
      <td>7.0</td>
    </tr>
    <tr>
      <th>172</th>
      <td>5.0</td>
    </tr>
    <tr>
      <th>173</th>
      <td>1.0</td>
    </tr>
    <tr>
      <th>174</th>
      <td>3.0</td>
    </tr>
  </tbody>
</table>
</div>

In [38]:
a = ((1,3), (3,4), (33,3),(4,5))
c =(((1,3), (3,4)), ((33,3),(4,5)))

In [37]:
b = list(zip(*a))
b

[(1, 3, 33, 4), (3, 4, 3, 5)]

In [40]:
c = list(zip(*c))
c

[((1, 3), (3, 4)), ((33, 3), (4, 5))]

In [41]:
q = [2,34,5,1,23,5]
r = [3,22,1,23,3,4]

In [43]:
t= zip(q,r)

In [44]:
list(t)

[(2, 3), (34, 22), (5, 1), (1, 23), (23, 3), (5, 4)]

In [49]:
tuple_list = [((2,3), (5,7,5), (9,2,4,2))]
pad_tuple = (0, 0, 0)
for t in tuple_list:
    t += pad_tuple             # make sure the tuple is sufficiently long
    x, y, z = t[:3]            # only extract the first three elements
    print(x,y,z)

(2, 3) (5, 7, 5) (9, 2, 4, 2)

In [51]:
list(chain.from_iterable(tuple_list))

[(2, 3), (5, 7, 5), (9, 2, 4, 2)]

In [48]:
list(zip(*tuple_list))

[(2, 5, 9), (3, 7, 2)]